{% extends "base.html.twig" %}

{% block title %}Todo App{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/main.style.css') }}">
{% endblock %}

{% block body %}
<header>
    <h1>Todo Lists</h1>
</header>
<form>
    <div class="todo-container">
        <ul class="todo-lists">
            {% for list in lists %}
            <div>
                <li><a class="list-link" href="{{ path('list', { list: (list.name) }) }}">{{ list.name }}</a></li>
            </div>
            {% endfor %}
        </ul>
    </div>
</form>
{% endblock %}