*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(121, 182, 152);
    color: white;
    font-family: 'Bookman', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}